.title-menu {
    text-align: center;
}

.table_all_orders {
    max-width: 90%;
    margin: auto;
}

.plan-active {
    color: green;
    font-weight: bold;
}

.plan-expire {
    color: red;
    font-weight: bold;
}