<app-sidebar></app-sidebar>

<!--router-outlet></router-outlet-->
<main class="main_content">
	<app-header></app-header>

	<!-- <div class="container-fluid p-40">
		<h3 class="main-heading mb-5">Skills</h3>
		<div class="row">
			<div class="col-sm-4 col-md-3">
				<div class="card">
				  <a href="/details" class="card-img"><img src="assets/images/skills_1.jpg" class="img-fluid" alt=""></a>
				  <div class="card-body">
				    <h5 class="card-title"><a href="/details">Emotional Intelligence</a></h5>
				    <p class="card-text">Some quick example text to build on the card title and.</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-4 col-md-3">
				<div class="card">
				  <a href="/details" class="card-img"><img src="assets/images/skills_2.jpg" class="img-fluid" alt=""></a>
				  <div class="card-body">
				    <h5 class="card-title"><a href="/details">Active Listening</a></h5>
				    <p class="card-text">Some quick example text to build on the card title and.</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-4 col-md-3">
				<div class="card">
				  <a href="/details" class="card-img"><img src="assets/images/skills_3.jpg" class="img-fluid" alt=""></a>
				  <div class="card-body">
				    <h5 class="card-title"><a href="/details">Innovative Customer Service Techniques</a></h5>
				    <p class="card-text">Some quick example text to build on the card title and.</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-4 col-md-3">
				<div class="card">
				  <a href="/details" class="card-img"><img src="assets/images/skills_4.jpg" class="img-fluid" alt=""></a>
				  <div class="card-body">
				    <h5 class="card-title"><a href="/details">Decision Making</a></h5>
				    <p class="card-text">Some quick example text to build on the card title and.</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-4 col-md-3">
				<div class="card">
				  <a href="/details" class="card-img"><img src="assets/images/skills_5.jpg" class="img-fluid" alt=""></a>
				  <div class="card-body">
				    <h5 class="card-title"><a href="/details">De-escalating Emotionally Charged Conversations</a></h5>
				    <p class="card-text">Some quick example text to build on the card title and.</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-4 col-md-3">
				<div class="card">
				  <a href="/details" class="card-img"><img src="assets/images/skills_6.jpg" class="img-fluid" alt=""></a>
				  <div class="card-body">
				    <h5 class="card-title"><a href="/details">Lean Six Sigma Overview</a></h5>
				    <p class="card-text">Some quick example text to build on the card title and.</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-4 col-md-3">
				<div class="card">
				  <a href="/details" class="card-img"><img src="assets/images/skills_7.jpg" class="img-fluid" alt=""></a>
				  <div class="card-body">
				    <h5 class="card-title"><a href="/details">How To Become an Effective Manager </a></h5>
				    <p class="card-text">Some quick example text to build on the card title and.</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-4 col-md-3">
				<div class="card">
				  <a href="/details" class="card-img"><img src="assets/images/skills_8.jpg" class="img-fluid" alt=""></a>
				  <div class="card-body">
				    <h5 class="card-title"><a href="/details">Problem Solving & Root Cause Analysis</a></h5>
				    <p class="card-text">Some quick example text to build on the card title and.</p>
				  </div>
				</div>
			</div>

		</div>
	</div> -->

	<app-footer></app-footer>
</main>
