.post-form tbody tr td select,
.post-form tbody tr td input {
    width: 100%;
    box-shadow: 0 0 2px 2px #b7b2b2;
    padding: 10px;
    text-align: left;
    border: none;
    font-size: 13px;
}

.post-form tbody tr td label{
    padding: 7px;
    width: 100%;
}

.post-form tbody tr td button {
    padding: 8px;
}

.post-form tbody tr td span:last-child {
    width: 60%;
}

.post-form tbody tr {
    width: 100%;
    font-size: 13px;

}
.post-form tbody tr td{
    padding: 8px;

}
.post-form tbody tr td .form-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 13px;
    padding: 0 0 0 0;
    align-items: center;
}

.post-form tbody tr td .error-message {
    color: red;
    text-align: right;
    margin-bottom: 0;
    margin-right: 5px;
    font-weight: 600;
    height: 24px;


}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus{
  outline: blue;
}
