<app-sidebar></app-sidebar>
<main class="main_content">
	<app-header></app-header>

	<!-- <div class="container-fluid p-40">
		<h3 class="main-heading mb-5">Hi Shawn, let’s start learning!</h3>
		<div class="row">
			<div class="col-sm-8">
				<div class="card">
					<div class="card-body big-course">
						<div class="row justify-content-between">
							<div class="col-sm-6">
								<h4>Jump back in <i class="las la-arrow-right"></i></h4>
								<h1>Customer Service Basics</h1>
								<p>The act of providing support to both prospective and existing customers.</p>
								<button class="btn btn-primary">Resume</button>
							</div>
							<div class="col-sm-5">
								<div class="big-right-img">
									<img src="assets/images/cr.png" alt="" class="img-fluid">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="u_card">
					<div class="card-header d-flex justify-content-between">
		               <div class="header-title">
		                  <h4 class="card-title">What's Due Next</h4>
		               </div>
		               <a href="#" class="ms-auto">View All <i class="las la-arrow-right"></i></a>
		            </div>
		            <div class="card-body">
		            	<ul class="duelist">
		            		<li>
		            			<h4>Customer Retention</h4>
		            			<span>5/20/22</span>
		            		</li>
		            		<li>
		            			<h4>Emotional Intelligence</h4>
		            			<span>5/25/22</span>
		            		</li>
		            		<li>
		            			<h4>Customer Service Basics</h4>
		            			<span>5/26/22</span>
		            		</li>
		            	</ul>
		            </div>
				</div>
			</div>
		</div>
		<div class="u_card">
			<div class="card-header d-flex justify-content-between">
               <div class="header-title">
                  <h4 class="card-title">All My Learning Topics</h4>
               </div>
            </div>

            <div class="card-body px-0">
            	<table class="table">
            		<thead>
            				<tr>
            					<th width="60"></th>
            					<th>Topic</th>
            					<th>Due Date</th>
            					<th>Category</th>
            					<th>Progress</th>
            					<th>Action</th>
            				</tr>
            		</thead>

            		<tbody>
            			<tr>
            				<td><img src="../../assets/images/mission.jpg" alt="" class="avatar img-fluid"></td>
            				<td><strong>Customer Retention</strong></td>
            				<td>05/20/2022</td>
            				<td>Skill</td>
            				<td>
            					<div class="progress">
								  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
            				</td>
            				<td>
            					<button class="btn button-border">Launch</button>
            				</td>
            			</tr>
            			<tr>
            				<td><img src="../../assets/images/company.jpg" alt="" class="avatar img-fluid"></td>
            				<td><strong>Vacation Policy</strong></td>
            				<td>05/20/2022</td>
            				<td>Policy</td>
            				<td>
            					<div class="progress">
								  <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
            				</td>
            				<td>
            					<button class="btn button-border">Launch</button>
            				</td>
            			</tr>
            			<tr>
            				<td><img src="../../assets/images/conduct.jpg" alt="" class="avatar img-fluid"></td>
            				<td><strong>Managing Customer Expectations</strong></td>
            				<td>05/20/2022</td>
            				<td>Skill</td>
            				<td>
            					<div class="progress">
								  <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
            				</td>
            				<td>
            					<button class="btn button-border">Launch</button>
            				</td>
            			</tr>
            			<tr>
            				<td><img src="../../assets/images/vacation.jpg" alt="" class="avatar img-fluid"></td>
            				<td><strong>Emotional Intelligence</strong></td>
            				<td>05/21/2022</td>
            				<td>Skill</td>
            				<td>
            					<div class="progress">
								  <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
            				</td>
            				<td>
            					<button class="btn button-border">Launch</button>
            				</td>
            			</tr>
            			<tr>
            				<td><img src="../../assets/images/sexual_harrasment.jpg" alt="" class="avatar img-fluid"></td>
            				<td><strong>How to Use CRM</strong></td>
            				<td>05/20/2022</td>
            				<td>Procedure</td>
            				<td>
            					<div class="progress">
								  <div class="progress-bar" role="progressbar" style="width:100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
            				</td>
            				<td>
            					<button class="btn button-border">Launch</button>
            				</td>
            			</tr>
            		</tbody>
            	</table>
            </div>
		</div>
	</div> -->

   <app-footer></app-footer>
</main>