<app-sidebar></app-sidebar>
<!--router-outlet></router-outlet-->
<main class="main_content coursedetails">
	<app-header></app-header>
	<div class="container-fluid p-40">
		<div class="row">
			<div class="col-sm-8">
				<h3 class="main-heading mb-3">Skill - Positive Conversations</h3>
				<div class="card no-height">
					<div class="card-body">
						<div class="video_player">
							<iframe width="100%" height="500" src="https://www.youtube.com/embed/bfCAi04CO5E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>

						<div class="d-flex align-items-center c_details">
							<div class="module-thumbnail me-3">
								<img src="assets/images/policy_thumb.jpg" alt="" class="img-fluid">
							</div>
							<div class="module-title">
								<h2>Module:1</h2>
							</div>
							<div class="nextmodule ms-auto">
								<button class="btn btn-primary">Next Module</button>
							</div>
						</div>
						<div class="module_desc">
							<p>Positive language means telling a customer what you can do for them, rather than what you can't. It is about seeing every transaction from the customer's perspective and highlighting the benefits of a particular action to them.</p>
						</div>	




					</div>
				</div>
			</div>
			<div class="col-sm-4 modulessidebar">
				<h3 class="main-heading mb-3">Modules</h3>
				<div class="card no-height">
					<div class="card-body">
						<div class="d-flex module-list">
							<div class="module-thumbnail me-3">
								<a href="#"><img src="assets/images/mission.jpg" alt="" class="img-fluid"></a>
							</div>
							<div class="module-title">
								<h4><a href="#">Module:1</a></h4>
								<span>20/10/2022</span>
							</div>
						</div>
						<div class="d-flex module-list">
							<div class="module-thumbnail me-3">
								<a href="#"><img src="assets/images/company_value.jpg" alt="" class="img-fluid"></a>
							</div>
							<div class="module-title">
								<h4><a href="#">Module:2</a></h4>
								<span>20/10/2022</span>
							</div>
						</div>
						<div class="d-flex module-list">
							<div class="module-thumbnail me-3">
								<a href="#"><img src="assets/images/conduct.jpg" alt="" class="img-fluid"></a>
							</div>
							<div class="module-title">
								<h4><a href="#">Module:3</a></h4>
								<span>20/10/2022</span>
							</div>
						</div>
						<div class="d-flex module-list">
							<div class="module-thumbnail me-3">
								<a href="#"><img src="assets/images/vacation.jpg" alt="" class="img-fluid"></a>
							</div>
							<div class="module-title">
								<h4><a href="#">Module:4</a></h4>
								<span>20/10/2022</span>
							</div>
						</div>
						<div class="d-flex module-list">
							<div class="module-thumbnail me-3">
								<a href="#"><img src="assets/images/sexual_harrasment.jpg" alt="" class="img-fluid"></a>
							</div>
							<div class="module-title">
								<h4><a href="#">Module:5</a></h4>
								<span>20/10/2022</span>
							</div>
						</div>
						<div class="d-flex module-list">
							<div class="module-thumbnail me-3">
								<a href="#"><img src="assets/images/performance.jpg" alt="" class="img-fluid"></a>
							</div>
							<div class="module-title">
								<h4><a href="#">Module:6</a></h4>
								<span>20/10/2022</span>
							</div>
						</div>
					</div>
				</div>
			</div>

		<div class="col-sm-8">

		<div class="u_card mt-2 no-height">
        	 <div class="card-header d-flex justify-content-between">
			         <div class="header-title">
			      <h4 class="card-title">Best Practices</h4>
			       </div>
			</div>
			<div class="card-body p-4">
				<div class="comments d-flex">
					<div class="comment_thumb pe-3">
								<img src="../../assets/images/avatar/02.png" alt="" class="avatar img-fluid">
					</div>
						<div class="comment-user">
								<div class="d-flex"><h2>Anna Sthesia</h2>

								<em class="ms-auto">18.May.2022</em>
							</div>
							<p class="mt-2">Aliquam et elit eu nunc rhoncus viverra quis at felis. Sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus Lorem ipsum dosectetur adipisicing elit at leo dignissim congue. Mauris elementum accumsan leo vel tempor</p>
						</div>
	            </div> 
	            <div class="comments d-flex">
					<div class="comment_thumb pe-3">
								<img src="../../assets/images/avatar/02.png" alt="" class="avatar img-fluid">
					</div>
						<div class="comment-user">
								<div class="d-flex"><h2>Anna Sthesia</h2>

								<em class="ms-auto">18.May.2022</em>
							</div>
							<p class="mt-2">Aliquam et elit eu nunc rhoncus viverra quis at felis. Sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus Lorem ipsum dosectetur adipisicing elit at leo dignissim congue. Mauris elementum accumsan leo vel tempor</p>
						</div>
	            </div>
				
				</div>
			</div>
			<div class="u_card mt-2 no-height">
        	 <div class="card-header d-flex justify-content-between">
			         <div class="header-title">
			      <h4 class="card-title">Post Best Practices</h4>
			       </div>
		   	</div>

		   	<div class="card-body">
		   		 <div class="form-floating">
					  <textarea class="form-control comment_textarea" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
					  <label for="floatingTextarea">Write your practice here</label>
					</div>

                <button type="button" class="btn btn-primary mt-3">Post Discussion</button>	
		   	</div>
		   </div>
	</div>
</div>
</div>
<app-footer></app-footer>
</main>






