
<app-sidebar></app-sidebar>
<main class="main_content profilepage">
	<app-header></app-header>
    <div *ngIf="route.children.length === 0" class="container-fluid">
	<div class="container-fluid">
		<div class="row" style="margin:0px">
			<div class="col-12">
				<h1 style="text-align: center;font-size: 25px ; margin-top: 10px;  color: rgb(171, 15, 15); ">My Account - Advance Details
				</h1>
			</div>

            <div class="col-lg-6 col-sm-12 col-xs-12 col-md-12 col-xl-6" style="    margin-left: 10px;"> 
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12 col-md-12 col-xl-6">
              <div class="order_session" style="margin: 12px 0;margin: 12px 0;">
                <a style="padding: 2px 6px; margin: 10px 5px 10px 0" class="btn btn-primary"
                  [routerLink]="['AdvanceDetails']">Edit Advance Details</a>
        
              </div>
            </div>


			<div class="container">
				<div class="tab-content" style="margin: 0; padding: 0px;">
					<div id="menu0" class="container tab-pane active">
						<div class="col-12">
							<div class="form_controller">

								<form>


									<div class="table table-fixed" style="max-width: 90%; margin: auto"
									*ngIf="datata !=null">
										<div>

											<div style="display: flex; justify-content: space-between">
												<span>
													<b>RegisteredAddress:</b>
												</span>
												<span style="width: 60%">:{{datata.data.RegisteredAddress}} </span>
											</div>
											<div style="display: flex; justify-content: space-between">
												<span>
													<b>Secondary Contact Name:</b>
												</span>
												<span style="width: 60%">:{{datata.data.secondaryContactName}} </span>
											</div>
											<div style="display: flex; justify-content: space-between">
												<span>
													<b>Secondary Contact No:</b>
												</span>
												<span style="width: 60%">:{{datata.data.secondaryContactNumber}} </span>
											</div>
											<div style="display: flex; justify-content: space-between">
												<span>
													<b>Country:</b>
												</span>
												<span style="width: 60%">:{{datata.data.countries}}</span>
											</div>
                                            <div style="display: flex; justify-content: space-between">
												<span>
													<b>State:</b>
												</span>
												<span style="width: 60%">:{{datata.data.state}}</span>
											</div>
                                            <div style="display: flex; justify-content: space-between">
												<span>
													<b>City:</b>
												</span>
												<span style="width: 60%">:{{datata.data.district}}</span>
											</div>
                                            <div style="display: flex; justify-content: space-between">
												<span>
													<b>Pincode:</b>
												</span>
												<span style="width: 60%">:{{datata.data.pinCode}}</span>
											</div>


											
										</div>
									</div>


								</form>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>
</main>
